{% extends 'layout.html.twig' %}

{% block page_content %}

<div class="row justify-content-center">
{% for entity in entities %}
    <div class="col-md-6 col-sm-12 col-lg-3 mb-3 mt-3">
        <div class="lieu">
            <a href="{{ path('lieu_show', {'id': entity.id}) }}" class="card-link">
                <div class="lieu-image">
                    {% if entity.getMediaWithPhotoIdent() is not empty %}
                        <img class="card-img-top" src="{{ asset('/uploads/img/' ~ entity.getMediaWithPhotoIdent().lien) }}" alt="{{ entity.getMediaWithPhotoIdent().titre }}">
                    {% elseif entity.image is not empty %}
                        <img class="card-img-top" src="{{ asset('/uploads/img/' ~ entity.image.path) }}" alt="{{ entity.nom }}">
                    {% else %}
                        <img class="card-img-top" src="{{ asset('/img/lieu_def.jpg') }}" alt="Card image cap">
                    {% endif %}
                </div>
                <div class="lieu-infos text-center">
                    <p class="lead text-primary">{{ entity.nom }}</p>
                    <p class="text-light"><small>{{ entity.type }}</small></p>
                    <p class="text-secondary">{{ entity.presentation }}</p>
                </div>
            </a>
        </div>
    </div>
{% endfor %}
</div>

{# <div class="card-group mt-5">
    {% for entity in entities %}
        {% if entity.getMediaWithPhotoIdent() is not empty %}
            <img class="card-img-top" src="{{ asset('/uploads/img/' ~ entity.getMediaWithPhotoIdent().lien) }}" alt="{{ entity.getMediaWithPhotoIdent().titre }}">
        {% elseif entity.image is not empty %}
            <img class="card-img-top" src="{{ asset('/uploads/img/' ~ entity.image.path) }}" alt="{{ entity.nom }}">
        {% else %}
            <img class="card-img-top" src="{{ asset('/img/lieu_def.jpg') }}" alt="Card image cap">
        {% endif %}
        <div class="card-body">
            <h5 class="card-title"><a href="{{ path('lieu_show', {'id': entity.id }) }}">{{ entity.nom }}</a></h5>
            <p class="card-text">{{ entity.type }}</p>
            <p class="card-text">{{ entity.presentation }}</p>
        </div>
    {% endfor %}
</div> #}

{# {% if is_granted('create', newEntity) %}
    <a href="{{ path('lieu_new') }}">Créer un lieu</a>    
{% endif %} #}

{% endblock %}