{% extends 'layout.html.twig' %}

{% block title %}Lieux | P'tites Scènes{% endblock %}

{% block page_content %}

<div class="lieu row justify-content-center">
    <div class="col-10 px-0 mt-3 pb-5">
        {% for entity in entities %}
            <a href="{{ path('lieu_show', {'id': entity.id}) }}">                
                {% if is_granted('edit', entity) %}
                    <div class="card-group mb-3 border-createur-lieu">
                {% else %}
                    <div class="card-group mb-3 border-standard ">
                {% endif %}
                <div class="card col-2 bg-dark px-0">
                        {% if entity.getMediaWithPhotoIdent() is not empty %}
                            <img class="card-img-top" src="{{ asset('/uploads/img/' ~ entity.getMediaWithPhotoIdent().lien) }}" alt="{{ entity.getMediaWithPhotoIdent().titre }}">
                        {% elseif entity.image is not empty %}
                            <img class="card-img-top" src="{{ asset('/uploads/img/' ~ entity.image.path) }}" alt="{{ entity.nom }}">
                        {% else %}
                            <img class="card-img-top" src="{{ asset('/img/lieu_def.jpg') }}" alt="Card image cap">
                        {% endif %}
                    </div>
                    <div class="card col-7 bg-dark text-light p-2">
                        <h4 class="text_lieu">{{ entity.nom }}</h4>
                        <p><small>{{ entity.type }}</small></p>
                        <p>{{ entity.presentation }}</p>
                    </div>
                    <div class="card col-3 bg-dark text-light p-3">
                        <p class="subtitle">{{ entity.adresse }}</p>
                        <p class="subtitle">{{ entity.codePostal }} - {{ entity.ville }}</p>
                        <p class="subtitle">{{ entity.numTelephone }}</p>
                    </div>
                </div>
            </a>                    
        {% endfor %}
    </div>
</div>
{% endblock %}