{% extends 'layout.html.twig' %}

{% block title %}{{ entity.nom }} | P'tites Scènes{% endblock %}

{% block page_content %}

<div class="lieu row justify-content-center">
    <div class="col-10 mt-3 px-0 pb-5">
        <div class="card">
            <div class="card-body p-0">
                <div class="card-group">
                    <div class="card col-5 bg-dark px-0 border-0">
                        {% if entity.getMediaWithPhotoIdent() is not empty %}
                            <img class="card-img-top" src="{{ asset('/uploads/img/' ~ entity.getMediaWithPhotoIdent().lien) }}" alt="{{ entity.getMediaWithPhotoIdent().titre }}">
                        {% elseif entity.image is not empty %}
                            <img class="card-img-top" src="{{ asset('/uploads/img/' ~ entity.image.path) }}" alt="{{ entity.nom }}">
                        {% else %}
                            <img class="card-img-top" src="{{ asset('/img/lieu_def.jpg') }}" alt="Card image cap">
                        {% endif %}
                    </div>
                    <div class="card col-7 bg-dark text-light text-center p-3">
                        <h2 class="card-title text_lieu">
                            {{ entity.nom }}
                        </h2>
                        <p class="small mt-3">{{ entity.type }}</p>
                        <hr>
                        {% if entity.presentation is not empty %}
                                <p class="card-text text-light text-left mt-3"> {{ entity.presentation }} </p>
                        {% endif %}
                    </div>
                    <hr>
                    <ul class="list-group list-group-flush bg-dark">
                        <li class="list-group-item bg-dark text-light">{{ entity.adresse }}</li>
                        <li class="list-group-item bg-dark text-light">{{ entity.CodePostal() }}</li>
                        <li class="list-group-item bg-dark text-light">{{ entity.ville }}</li>
                        <li class="list-group-item bg-dark text-light">{{ entity.NumTelephone() }}</li>
                    </ul>
                </div>
            </div>
            <div class="card-footer text-right bg-light">
                <div class="btn-group">
                    <a href="{{ path('lieu_index') }}" class="btn btn-lieu text-light">Retour</a>
                    {% if is_granted('edit', entity) %}
                        <a href="{{ path('lieu_edit', {'id': entity.id }) }}" class="btn btn-dark">Modifier</a>
                        {{ include('lieu/_delete_form.html.twig') }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}