{% extends 'layout.html.twig' %}

{% block page_content %}

<div class="row justify-content-center">
    <div class="col-10 mt-3">
        <div class="card text-white bg-danger border-dark text-center">
            {% if entity.getMediaWithPhotoIdent() is not empty %}
                <img class="card-img-top" src="{{ asset('/uploads/img/' ~ entity.getMediaWithPhotoIdent().lien) }}" alt="{{ entity.getMediaWithPhotoIdent().titre }}">
            {% elseif entity.image is not empty %}
                <img class="card-img-top" src="{{ asset('/uploads/img/' ~ entity.image.path) }}" alt="{{ entity.nom }}">
            {% else %}
                <img class="card-img-top" src="{{ asset('/img/lieu_def.jpg') }}" alt="Card image cap">
            {% endif %}

            <div class="card-body">

                <ul class="list-group list-group-flush">
                    <li class="list-group-item bg-dark">{{ entity.nom }}</li>
                    <li class="list-group-item bg-secondary">{{ entity.type }}</li>
                    <li class="list-group-item bg-dark">{{ entity.presentation }}</li>
                    <li class="list-group-item bg-secondary">{{ entity.adresse }}</li>
                    <li class="list-group-item bg-dark">{{ entity.CodePostal() }}</li>
                    <li class="list-group-item bg-secondary">{{ entity.ville }}</li>
                    <li class="list-group-item bg-dark">{{ entity.latitude }}</li>
                    <li class="list-group-item bg-secondary">{{ entity.longitude }}</li>
                    <li class="list-group-item bg-dark">{{ entity.NumTelephone() }}</li>
                </ul>

                {% if is_granted('edit', entity) %}
                    <div class="row">
                        <div class="col mt-3">
                            <a href="{{ path('lieu_index') }}"><button class="btn">Retour</button></a>
                        </div>
                        <div class="col mt-3">
                            <a href="{{ path('lieu_edit', {'id': entity.id }) }}"><button class="btn">Modifier</button></a>
                        </div>
                        <div class="col mt-3">
                            {{ include('lieu/_delete_form.html.twig') }}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}