{% extends 'layout.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block page_content %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post">
{% embed 'decorator/_card.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}
    {% block header %}
        {{ 'layout.login'|trans }}
    {% endblock %}

    {% block body %}
        {% if csrf_token %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        {% endif %}
    <div class="form-group">        
        <label for="username">{{ 'security.login.username'|trans }}</label>
        <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username" />
    </div>
    <div class="form-group">
        <label for="password">{{ 'security.login.password'|trans }}</label>
        <input type="password" class="form-control" id="password" name="_password" required="required" autocomplete="current-password" />
    </div>
    <div class="form-group">

        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="remember_me" name="_remember_me" value="on">
            <label class="custom-control-label" for="remember_me">Rester connecté</label>
        </div>
    </div>
    {% endblock %}

    {% block footer %}
        <input type="submit" class="btn btn-primary" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
        <a href="#">Nom d'utilisateur ou mot de passe oublié ?</a>
    {% endblock %}

{% endembed %}
</form>

<h4>Vous n'avez pas encore de compte ? <a href="{{ path('fos_user_registration_register') }}">Inscrivez-vous dès maintenant</a></h4>
<p>En m'inscrivant, en me connectant ou en continuant, j'accepte les <span>Conditions d'Utilisation</span> et reconnais avoir lu la <span>Politique de Confidentialité</span> de P'tites Scènes. J'autorise le groupe P'tites Scènes à m'envoyer des messages promotionnels et des notifications Push relatifs à des services pour lequels j'ai souscrit dans Mon compte. Je peux désactiver ces alertes à tout moment dans mes paramètres.</p>

{% endblock page_content %}