{% extends 'admin/admin_layout.html.twig' %}

{% block title %}{{ 'admin.user.index.title'|trans }}{% endblock %}

{% block page_content %}
    <h1>{{ 'admin.user.index.titreliste'|trans }}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>{{ 'admin.user.index.username'|trans }}</th>
                <th>{{ 'admin.user.index.mail'|trans }}</th>
                <th>{{ 'admin.user.index.active'|trans }}</th>
                <th>{{ 'admin.user.index.lastLogin'|trans }}</th>
                <th>{{ 'admin.user.index.roles'|trans }}</th>
                <th>{{ 'admin.user.index.type'|trans }}</th>
                <th>{{ 'admin.user.index.actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.enabled ? 'Yes' : 'No' }}</td>
                <td>{{ user.lastLogin ? user.lastLogin|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ user.roles ? user.roles|join(', ') : '' }}</td>
                <td>{{ user.type|join(',') }}</td>
                <td>
                    <a href="{{ path('admin_user_show', {'id': user.id}) }}">{{ 'admin.user.index.view'|trans }}</a>
                    <a href="{{ path('admin_user_edit', {'id': user.id}) }}">{{ 'admin.user.index.modify'|trans }}</a>
                    {{ include('admin/user/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="14">{{ 'admin.user.index.nouserfound'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_user_new') }}">{{ 'admin.user.index.createuser'|trans }}</a>
{% endblock %}
