  <div class="row">
    <div class="col-md-8">
        {{ form_row(form.image) }}
    </div>
    <div class="col-md-4 col-lg-2">
      {% if entity is defined and entity.image is not empty %}
        <img class="w-100" src="{{ asset('/uploads/img/' ~ entity.image.path) }}" alt="{{ entity.nom }}" />
        {{ form_row(form.deleteImage) }}
      {% endif %}
    </div>
  </div>

  {{ form_widget(form) }}