{% if id is not defined %}
{% set id = "navbar" %}
{% endif %}
{% if class is not defined %}
{% set class = "navbar-light bg-light" %}
{% endif %}
<nav class="navbar navbar-expand-lg {{ class }}">

    {% if block('brand') is defined %}
    <a class="navbar-brand" href="{% if brandUrl is not empty %}{{ brandUrl }}{% else %}#{% endif %}">
        {{ block('brand') }}
    </a>
    {% endif %}


    {% if block('itemEvenements') is defined %}
        <a class="navbar-itemEvenements" href="{% if itemEvenementsUrl is not empty %}{{ itemEvenementsUrl }}{% else %}#{% endif %}">
            {{ block('itemEvenements') }}
        </a>
    {% endif %}



    {% if block('menu') is defined %}

    <button class="navbar-toggler collapsed" controls="navbarResponsive" type="button" data-toggle="collapse" data-target="#{{ id }}" aria-controls="{{ id }}" aria-expanded="false" aria-label="Toggle navigation">
        {% block toggler_button %}
            <span class="navbar-toggler-icon"></span>
        {% endblock %}
    </button>

    <div class="collapse navbar-collapse" id="{{ id }}">
        {{ block('menu') }}
    </div>
    {% endif %}

    {% block body %}
    {% endblock %}
</nav>