{% extends 'layout.html.twig' %}

{% block title %}S'inscrire{% endblock %}

{% block page_content %}


{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {% embed 'decorator/_card.html.twig' %}
        {% trans_default_domain 'FOSUserBundle' %}
        
        {% block body %}

        {#============================================================#}
        <div class="row">
            <div class="col">
                {{ form_row(form.username) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                {{ form_row(form.nom) }}
            </div>
            <div class="col-md-4">
                {{ form_row(form.prenom) }}
            </div>
        </div>

        {#============================================================#}

        {{ form_widget(form) }}
        {% endblock %}

        {% block footer %}
            <input type="submit" class="btn btn-primary" value="{{ 'registration.submit'|trans }}" />
            <h4>Vous avez déjà un compte ? <a href="{{ path('fos_user_security_login') }}">Se connecter</a></h4>
        {% endblock %}

    {% endembed %}
{{ form_end(form) }}
{% endblock %}