{% extends 'layout.html.twig' %}

{% block title %}Modification de {{ entity.nom }} | P'tites Scènes{% endblock %}

{% block page_content %}
{{ form_start(form) }}
    {% embed 'decorator/_card.html.twig' %}
    {% block header %}
    <h1>Modification d'un évenement</h1>
    {% endblock %}

    {% block body %}
    {{ include('evenement/_form.html.twig', {'button_label': 'Modifier'}) }}
    {% endblock %}

    {% block footer %}
    <a class="btn btn-secondary" href="{{ path('evenement_show', {'id': entity.id }) }}">Annuler</a>
    <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
    {% endblock %}

    {% endembed %}
    {{ form_end(form) }}
{% endblock %}