{% extends 'layout.html.twig' %}

{% block title %}Evenements | P'tites Scènes{% endblock %}

{% block page_content %}

<div class="evenement row justify-content-center">
    <div class="col-10 px-0 mt-3 pb-5">

        <div class="events row">

            {% for entity in entities %}
                <div class="allEvents col-sm-12 col-md-6 col-lg-4 col-xl-3 my-3">
                    {% if is_granted('edit', entity) %}
                    <div class="border-createur-evt event">
                    {% else %}
                    <div class="border-standard event">
                    {% endif %}
                        <a href="{{ path('evenement_show', {'id': entity.id}) }}">
                            <div class="event-image">
                                {% if entity.getMediaWithPhotoIdent() is not empty %}
                                    <img class="card-img" src="{{ asset('/uploads/img/' ~ entity.getMediaWithPhotoIdent().lien) }}" alt="{{ entity.getMediaWithPhotoIdent().titre }}">
                                {% elseif entity.image is not empty %}
                                    <img class="card-img" src="{{ asset('/uploads/img/' ~ entity.image.path) }}" alt="{{ entity.nom }}">
                                {% else %}
                                    <img class="card-img" src="{{ asset('/img/event_def.jpg') }}" alt="Card image cap">
                                {% endif %}
                            </div>
                            <div class="event-infos text-center">
                                <p class="lead text-primary">{{ entity.nom }}</p>
                                <p class="text-light"><small>{{ entity.type }} | {{ entity.styles ? entity.styles|join(', ') : '' }}</small></p>
                                <p class="text-secondary">{{ entity.date|date("d/m/Y") }} - {{ entity.heureDebut|date('H:i') }} | {{ entity.ville }}</p>
                            </div>
                        </a>

                    </div>
                </div>
            {% endfor %}
        </div>

    </div>
</div>

{% endblock %}
