{% extends 'layout.html.twig' %}

{% block page_content %}

{% for entity in entities %}

<div class="row justify-content-center">
    <div class="col-md-6 col-sm-12 col-lg-3 mb-3 mt-3">
        <div class="card text-white bg-danger border-dark text-center">
            <a href="{{ path('evenement_show', {'id': entity.id}) }}" class="card-link">
                {% if entity.getMediaWithPhotoIdent() is not empty %}
                    <img class="card-img-top" src="{{ asset('/uploads/img/' ~ entity.getMediaWithPhotoIdent().lien) }}" alt="{{ entity.getMediaWithPhotoIdent().titre }}">
                {% else %}
                    <img class="card-img-top" src="{{ asset('/img/event_def.jpg') }}" alt="Card image cap">
                {% endif %}

                <div class="card-body">
                    <h2 class="card-title">{{ entity.nom }}</h2>
                    <h4 class="card-title">
                        {{ entity.type }} 
                        {{ entity.styles ? entity.styles|join(', ') : '' }}
                    </h4>
                    <h5 class="card-text">
                        {{ entity.date|date("d/m/Y") }} - 
                        {{ entity.heureDebut|date('H:i') }} à {{ entity.heureFin|date('H:i') }} - 
                        {{ entity.tarif }} €
                    </h5>
                </div>
            </a>
        </div>
    </div>
</div>
{% endfor %}
<a href="{{ path('evenement_new') }}">Créer un évenement</a> 

{% endblock %}
