{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('build/css/admin.css') }}">
{% endblock %}

{% block body %}
{# HEADER #}
<header class="main-header">
    {% embed 'decorator/_navbar.html.twig' with {'class': 'fixed-top navbar-dark bg-primary', 'brandUrl': path('index') } %}
        {% block brand %}
            Blog WebFroce 3
        {% endblock %}

        {% block menu %}
            {{ knp_menu_render('user', {'style': 'horizontal-right'})}}
        {% endblock %}
    {% endembed %}
</header>

{# MENU COTE GAUCHE #}
<aside class="main-sidebar">
    <section class="side-menu">
    {# MENU #}
        {{ knp_menu_render('admin', {'style': 'vertical-pills'}) }}
    </section>
</aside>

<div class="content-wrapper">
    <div class="container-fluid">
        {# Affichage des messages flash #}
        <div class="flash-message">
            {% for type, messages in app.flashes %}
                {% for message in messages %}
                <div class="alert alert-{{ type }} alert-dismissible fade show" role="alert">
                    {{ message|raw }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endfor %}
            {% endfor %}
        </div>
        {% block page_content %}
        {% endblock %}
    </div>
</div>
{% endblock %}