{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('build/css/front.css') }}">
{% endblock %}

{% block body %}
    <div class="entete container-fluid fixed-top">
        <div class="row justify-content-center">
            <div class="col-1 lateral-column"></div>
                <div class="col-10 px-0">
                    {% block header %}
                        <div class="logo text-center row justify-content-around">
                            <div class="col-2">

                            </div>
                            <a href="{{ path('index') }}"><img src="{{ asset('/img/logo01.png') }}" alt="Les P'tites Scènes"></a>
                            <div class="col-2 align-self-center">
                                    <form id="form-beer_v1" name="form-beer_v1" class="navbar-form">
                                            <div class="typeahead__container">
                                                <div class="typeahead__field">
                                                    <div class="typeahead__query">
                                                        <input class="js-typeahead-beer_v1" name="beer_v1[query]" type="search" placeholder="Search" autocomplete="off">
                                                    </div>
                                                    <div class="typeahead__button">
                                                        <button type="submit">
                                                                <i class="fas fa-search"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                            </div>
                        </div>
                        
                        {% embed 'decorator/_navbar.html.twig' with {'class' : 'fixed-top navbar-dark bg-dark', 'brandUrl' : path('index')} %}
                            {% block menu %}
                                {{ knp_menu_render('main', {'style': 'horizontal'}) }}
                                
                                {# {{ knp_menu_render('user', {'style': 'horizontal-right'}) }} #}
                            {% endblock menu %}
                        {% endembed %}
                    {% endblock header %}
                </div>
            <div class="col-1 lateral-column"></div>
        </div>
        <div id="bordure_top" class="row"></div>
    </div>

    <div class="container-fluid mt-5">

        <div class="row justify-content-center">
            <div class="col-10 px-0">
            
                    {% block page_content %}
                    {% endblock page_content %}
                
            </div>
        </div>
    </div>
{% endblock body %}
