{% extends 'layout.html.twig' %}

{% block title %}Artistes | P'tites Scènes{% endblock %}

{% block page_content %}

<div class="artistes row justify-content-center">
    <div class="col-10 px-0 mt-3 pb-5">
        <div class="artists row">
            {% for entity in entities %}
                <div class="allartists col-sm-12 col-md-6 col-lg-4 col-xl-3 my-3
                    {% if entity.styles is not empty %}
                        {{ entity.styles ? entity.styles|join(' | ') : '' }}
                    {% endif %}">

                    {% if is_granted('editArtiste', entity) %}
                        <div class="border-createur-artiste artist">
                    {% else %}
                        <div class="border-standard artist">
                    {% endif %}
                        <a href="{{ path('user_artiste_show', {'username': entity.username}) }}">
                            <div class="artist-image">
                                {% if entity.getMediaWithPhotoIdent() is not empty %}
                                    <img class="card-img-top" src="{{ asset('/uploads/img/' ~ entity.getMediaWithPhotoIdent().lien) }}" alt="{{ entity.getMediaWithPhotoIdent().titre }}">
                                {% elseif entity.image is not empty %}
                                    <img class="card-img-top" src="{{ asset('/uploads/img/' ~ entity.image.path) }}" alt="{{ entity.nom }}">
                                {% else %}
                                    <img class="card-img-top" src="{{ asset('/img/artist_def.jpg') }}" alt="Card image cap">
                                {% endif %}
                            </div>
                            <div class="artist-infos text-center">
                                <p class="lead text_artiste">
                                    {% if entity.nomArtiste is not empty %}
                                        {{ entity.nomArtiste }}
                                    {% else %}
                                        {{ entity.username }}
                                    {% endif %}
                                </p>
                                <p class="text-light"><small>{{ entity.ville }}</small></p>
                                <p class="text_artiste">
                                    {% if entity.styles is not empty %}
                                        {{ entity.styles ? entity.styles|join(' | ') : '' }}
                                    {% endif %}
                                </p>
                            </div>
                        </a>

                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock page_content %}