{% extends 'layout.html.twig' %}

{% block page_content %}
    {# <h2>Les artistes</h2> #}


<div class="row justify-content-center">
{% for entity in entities %}
    {% for i in 0..(entity.type|length - 1) %}
        {% if entity.type[i] == "user_artiste" %}

            <div class="col-md-6 col-sm-12 col-lg-3 mb-3 mt-3">
                <div class="artist">
                    <a href="{{ path('user_artiste_show', {'username': entity.username}) }}" class="link">
                        <div class="artist-image">
                            {% if entity.getMediaWithPhotoIdent() is not empty %}
                                <img class="card-img h-100" src="{{ asset('/uploads/img/' ~ entity.getMediaWithPhotoIdent().lien) }}" alt="{{ entity.getMediaWithPhotoIdent().titre }}">
                            {% elseif entity.image is not empty %}
                                <img class="card-img h-100" src="{{ asset('/uploads/img/' ~ entity.image.path) }}" alt="{{ entity.nom }}">
                            {% else %}
                                <img class="card-img h-100" src="{{ asset('/img/artist_def.jpg') }}" alt="Card image cap">
                            {% endif %}
                        </div>
                        <div class="artist-infos text-center">
                            <p class="lead text-primary">
                                {% if entity.nomArtiste is not empty %}
                                    {{ entity.nomArtiste }}
                                {% else %}
                                    {{ entity.nom }} {{ entity.prenom }}
                                {% endif %}
                            </p>
                            <p class="text-light"><small>{{ entity.presentation }}</small></p>
                            <p class="text-secondary">{{ entity.dateInscription|date('d/m/Y H:i') }}</p>
                        </div>
                    </a>
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endfor %}
</div>

    {# <div class="card-group mt-5">
        <div class="row justify-content-center">
            {% for entity in entities %}
                {% for i in 0..(entity.type|length - 1) %}
                    {% if entity.type[i] == "user_artiste" %}
                        <div class="card m-1 p-2 col">
                            <div class="card-body">
                                <h5 class="card-title text-primary"><a href="{{ path('user_show', {'username': entity.username}) }}">{{ entity.username }}</a></h5>
                                <p class="card-text">{{ entity.presentation }}</p>
                                <p class="card-text"><small class="text-muted">{{ entity.dateInscription|date('d/m/Y H:i') }}</small></p>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
    </div> #}
{% endblock page_content %}