{% extends 'layout.html.twig' %}

{% block title %}Présentation | P'tites Scènes{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/css/profil.css') }}">
{% endblock %}

{% block page_content %}

<div class="container-fluid">
    <div class="artistes row justify-content-center">
        <div class="col-10 px-0">
            <div class="artists row">
                <div class="col-12 image">
                    {% if entity.getMediaWithPhotoIdent() is not empty %}
                        <img class="card-img-top" src="{{ asset('/uploads/img/' ~ entity.getMediaWithPhotoIdent().lien) }}" alt="{{ entity.getMediaWithPhotoIdent().titre }}">
                    {% elseif entity.image is not empty %}
                        <img class="card-img-top" src="{{ asset('/uploads/img/' ~ entity.image.path) }}" alt="{{ entity.nom }}">
                    {% else %}
                        <img class="card-img-top" src="{{ asset('/img/artist_def.jpg') }}" alt="Card image cap">
                    {% endif %}
                </div>
                <div class="col-12" style="color: rgb(180, 180, 180);font-size: 17px;">
                    <a href="{{ path('user_show', {'username': entity.username}) }}">Vue d'ensemble du compte</a>
                </div>
                {% if entity.username == app.user.username %}
                    <div class="col-12">
                        <a href="{{ path('user_edit', {'username': entity.username}) }}">Modifier son profil</i></a>
                    </div>
                    <div class="col-12">
                        <a href="{{ path('evenement_index') }}"> Retour vers l'accueil</i></a>
                    </div>
                {% endif %}
            </div>  
        </div>
        <div class="col-9">
            <div class="row">
                <div class="col-12">
                    <h2>Présentation</h2>
                    <hr>
                    <div class="profil">
                        <h1>Profil</h1>
                        <p>Nom d'utilisateur : {{ entity.username }}</p>
                        <p>Nom : {{ entity.nom}}</p>
                        <p>Prenom : {{ entity.prenom }}</p>
                        <p>Email : {{ entity.email }} </p>
                        <!-- Ajouter condition que apparait seulement si existe -->
                        {% if entity.adresse and entity.codePostal and entity.ville is not empty %}
                            <p>Adresse : {{ entity.adresse }}<br><span>{{ entity.codePostal }}</span><br><span>{{ entity.ville }}</span></p>
                        {% endif %}
                        {% if entity.numTelephone is not empty %}
                            <p>Numéro de telephone : {{ entity.numTelephone }}</p>    
                        {% endif %}
                        {% if entity.niveau is not empty %}
                            <p>Status Professionnel : {{ entity.niveau|trans }}<p/>
                        {% endif %}
                        <a href="{{ path('user_edit', {'username': entity.username}) }}"><button class="btn">Modifier</button></a>
                    </div>
                </div>
                <div class="col-12 news">
                    <h2>Newsletter</h2>
                    <hr>
                    <p>Prochainement disponible, la newsletter qui saura vous apporter les informations que vous désirez sans même se fatiguer à les chercher !</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock page_content %}